.venv
.vscode/
node_modules/
__pycache__/
data/places_old.json
data/places.min.json.br.json.old
data/overpass.json

# Custom configuration (not tracked)
# config.custom.json

# Stats file
# data/stat.json

# old husky directory
.husky/
